.container{
    background: linear-gradient(to right, #00abf3, #c2ffff);
    margin-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

#list-info{
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
}
